progress.bar2 {
  background-color:#f0f0f0;
  color: yellow;
  border-radius: 10px;
  height: 8px; 
  width: 100%;
  margin: auto;
  position: relative;
  margin-bottom: 5px;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5)
}
progress.bar2::-webkit-progress-bar {
  background-color:#f0f0f0;
  color: yellow;
  border-radius: 10px;
  height: 8px; 
  width: 100%;
  box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5)
}
progress.bar2::-webkit-progress-value {
  background-color:#00a30b;
  color: yellow;
  border-radius: 10px;
  height: 8px; 
  width: 100%; 
}
progress.bar2::-moz-progress-bar {
  background-color:#00a30b;
  color: yellow;
  border-radius: 10px;
  height: 8px; 
  width: 100%;
}

progress.bar1 {
  background-color:#f0f0f0;
  color: yellow;
  border-radius: 10px;
  height: 8px; 
  width: 100%;
  margin: auto;
  position: relative;
  margin-bottom: 5px;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5)
}
progress.bar1::-webkit-progress-bar {
  background-color:#f0f0f0;
  color: yellow;
  border-radius: 10px;
  height: 8px; 
  width: 100%;
  box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5)
}
progress.bar1::-webkit-progress-value {
  background-color:#c90000;
  color: yellow;
  border-radius: 10px;
  height: 8px; 
  width: 100%; 
}
progress.bar1::-moz-progress-bar {
  background-color:#c90000;
  color: yellow;
  border-radius: 10px;
  height: 8px; 
  width: 100%;
}
progress.bar4 {
  background-color:#f0f0f0;
  color: yellow;
  border-radius: 10px;
  height: 20px; 
  width: 100%;
  margin: auto;
  position: relative;
  margin-bottom: 5px;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5)
}
progress.bar4::-webkit-progress-bar {
  background-color:#f0f0f0;
  color: yellow;
  border-radius: 10px;
  height: 20px; 
  width: 100%;
  box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5)
}
progress.bar4::-webkit-progress-value {
  background-color:#00a30b;
  color: yellow;
  border-radius: 10px;
  height: 20px; 
  width: 100%; 
}
progress.bar4::-moz-progress-bar {
  background-color:#00a30b;
  color: yellow;
  border-radius: 10px;
  height: 20px; 
  width: 100%;
}

progress.bar3 {
  background-color:#f0f0f0;
  color: yellow;
  border-radius: 10px;
  height: 20px; 
  width: 100%;
  margin: auto;
  position: relative;
  margin-bottom: 5px;
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5)
}
progress.bar3::-webkit-progress-bar {
  background-color:#f0f0f0;
  color: yellow;
  border-radius: 10px;
  height: 20px; 
  width: 100%;
  box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5)
}
progress.bar3::-webkit-progress-value {
  background-color:#c90000;
  color: yellow;
  border-radius: 10px;
  height: 20px; 
  width: 100%; 
}
progress.bar3::-moz-progress-bar {
  background-color:#c90000;
  color: yellow;
  border-radius: 10px;
  height: 20px; 
  width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 25px;
	height: 25px;
	border-radius: 25px;
	margin: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px 20px tansparent;
    border: solid 7px transparent;
	border-radius: 25px;
	margin: 20px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 10px 10px lightgrey;
    border: groove 7px transparent;
	border-radius: 25px;
	transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 10px 10px grey;
    border: groove 7px transparent;
	border-radius: 25px;
	transition: 0.3s;
}

.help:hover {
	height:300px !important;
	width:800px !important;
	position: absolute;
	top:110px;
	box-shadow: 0px 0px 10px gray;
	z-index: 999;
	font-size: 14px	!important;
	padding-left:10px;
	
	
}
.help:hover svg {
	height:0px !important;
	width:0px !important;
	transition: 0.3s;
	
}
.controll:target {
	width: 300px !important;
	height: 300px !important;
	font-size: 30px !important;
	top: 30vh;
	right: 20px;
	margin-left: 30px;
	align-content: top;
}
:target img{
	width: 300px !important;

}
.show {
	width: 0px;
}

.controll {
	width: 0px !important;
	height: 0px !important;
	font-size: 0px;
}

.controlls:target {
	width: 300px !important;
	height: 300px !important;
	font-size: 30px !important;
	top: 30vh;
	right: 20px;
	margin-left: 30px;
	align-content: top;
	background-color:green;
}
.controlls {
	width: 0px;
	height: 0px;
	font-size: 30px !important;
	top: 30vh;
	right: 20px;
	margin-left: 30px;
	align-content: top;
	background-color:green;
}
.button{
	margin:0px;
	padding: 0px;
	background-color: transparent;
	border: none;
	width: auto;
	height: auto;
	cursor: pointer;
}
.slider{
	width: 100%;
	height: 20px;
	-webkit-appearance: none;
	cursor: pointer;
	background: transparent;
}
.button2{
	margin:0px;
	padding: 0px;
	background-color: transparent;
	border: none;
	width: 100%;
	z-index:9999;
	cursor: pointer;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background: transparent;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  height: 20px;
  background: transparent;
  cursor: pointer;
}
a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
body {
  font-family: Arial, sans-serif;
}  
 